<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HubAutomationSuite" parallel="false">
    <test name="Hub Test Execution">
        <classes>
            <class name="TCs.T01_LoginIntoHubApp"/>
            <class name="TCs.T02_CreateTripRestAssured"/>
            <class name="TCs.T03_LoginTheHubANDTakeArrivalPics"/>
            <class name="TCs.T04_CreatePgroupsRestAssured"/>
            <class name="TCs.T05_ExtractEntityKeyRestAssured"/>
            <class name="TCs.T06_LoadPgroupsRestAssured"/>
            <class name="TCs.T07_SignedUrlsCreationRestAssured"/>
            <class name="TCs.T08_AddPicsToURL"/>
            <class name="TCs.T09_ExtractSealNrRestAssured"/>
            <class name="TCs.T10_SealRestAssured"/>
            <class name="TCs.T11_UnsealRestAssured"/>
            <class name="TCs.T12_UnloadPgroupRestAssured"/>
        </classes>
    </test>
</suite>
